doctype html
html
  head
    title Login Administrador
  body
    h1 Inicio de Sesión Administrador
    if error
      p(style="color:red")= error
    form(action='/admin/adminLogin', method='POST')
      label(for='username') Usuario:
      input(type='text', name='username', required)
      label(for='password') Contraseña:
      input(type='password', name='password', required)
      button(type='submit') Iniciar Sesión
