doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styleTask.css")
    title Crear Tarea
  body
    header 
      h1 Bienvenido #{username} a la Cocoscuela!!
      nav
        ul
          if role === 'teacher'
            li: a(href="/create-task") Crear Tarea
            li: a(href="/subjects") Asignaturas
            li: a(href="/profile") Perfil
            li: a(href="/logout") Cerrar Sesión
          else if role === 'student'
            li: a(href="/view-assignments") Ver Tareas
            li: a(href="/subjects") Asignaturas
            li: a(href="/profile") Perfil
            li: a(href="/logout") Cerrar Sesión

    main
      h2 Crear Nueva Tarea

      form(action="/create-task", method="post")
        .form-group
          label(for="modules_id") Módulo:
          select#moduleId(name="modules_id", required)
            each module in modules
              option(value=module.id)= module.name 

        .form-group
          label(for="taskName") Nombre de la Tarea:
          input#taskName(type="text", name="taskName", required)

        .form-group
          label(for="description") Descripción:
          textarea#description(name="description", rows="4", required)

        .form-group
          label(for="dueDate") Fecha de Entrega:
          input#dueDate(type="date", name="dueDate", required)

        .form-group
          button.btn-submit(type="submit") Crear Tarea

    footer
      p Derechos de autor a coco :D

    script.
      // JavaScript necesario aquí
