doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Crear Usuarios
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Crear Usuarios
    main
      form(action="/admin/createTeacher", method="post")
        button(type="submit") Crear Usuario Maestro
      form(action="/admin/createStudent", method="post")
        button(type="submit") Crear Usuario Alumno
    footer
      p Derechos de autor a coco :D
