doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sistema de Gestión de Aprendizaje (LMS) - Inicio de Sesión
    link(rel="stylesheet", href="styles.css")
  body
    header
      h1 ¿Quién está entrando?
    main
      form(action="/admin/adminLogin", method="post")
        button(type="submit", name="userType", value="admin") Soy Administrador
      form(action="/teacherLogin", method="get")
        button(type="submit", name="userType", value="teacher") Soy Maestro
      form(action="/studentLogin", method="post")
        button(type="submit", name="userType", value="student") Soy Estudiante
    footer
      p Derechos de autor a coco :D
