doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Menú de la Escuela
  body
    h1 Bienvenido #{username} a la Cocoscuela,!!

    if role === 'teacher'
      nav
        ul
          li: a(href="/create-task") Crear Tarea
          li: a(href="/subjects") Asignaturas
          li: a(href="/profile") Perfil
          li: a(href="/logout") Cerrar Sesión
          // Otros enlaces específicos para maestros
    else if role === 'student'
      nav
        ul
          li: a(href="/view-assignments") Ver Tareas
          li: a(href="/subjects") Asignaturas
          li: a(href="/profile") Perfil
          li: a(href="/logout") Cerrar Sesión
          // Otros enlaces específicos para estudiantes

    footer
      p Derechos de autor a coco :D
